body {
  color: #111;
  background-color: #eee;
}

h2, h3, h4, h5, h6, hr, dt {
  margin: 2em 0 0.6em 0;
  color: #222;
}

a {
  color: #740;
}

a:hover {
  color: #850;
  border-bottom-color: #850;
}

#header a:hover {
  border-bottom-color: #eee;
}

code,
pre,
.p-category {
  color: #006400;
}

button svg {
  transform: rotate(180deg);
  transition: all 0.2s;
}

blockquote {
  color: #555;
}

td, th {
  border: 1px solid #111;
}

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}

pre > code::before {
  color: #444;
}

.footnotes hr::before {
  color: #222;
}

#header,
#footer {
  background-color: #222;
  color: #ccc;
}

#header a,
#footer a,
#theme input + label {
  color: #f90;
}

input {
  background-color: #222;
}

#footer a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#comments .u-url:hover,
#main a:hover {
  border-bottom: 1px solid #850;
}

#comments {
  background-color: #fff;
}

#q {
  background-color: #444;
}

#q:focus {
  background-color: #555;
}
